
@import url("template.css");
@import url("grid/grids.css");
@import url("heading.css");
@import url("content.css");

body{font-family: 'Comfortaa', cursive;}

#tweet{font-family: 'Yanone Kaffeesatz', sans-serif;}
#tweet li{padding-bottom: 10px;}

.note{font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 90%;}
.head{background: #eeeeee;}
